<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log in!</title>
    </head>
    <body>
        <form method="post">
            <label for="username1">Enter Username:</label>
            <br />
            <input type="text" name="username1">
            <br />
            <label for="password2">Enter Password:</label>
            <br />
            <input type="text" name="password2">
            <br />
            <br />
            <input type="submit" value="Log in">
        </form>
    </body>
</html>
