<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign up!</title>
    </head>
    <body>
        <form method="post">
            <label for="fname">Enter First Name:</label>
            <br />
            <input type="text" name="fname">
            <br />
            <label for="lname">Enter Last Name:</label>
            <br />
            <input type="text" name="lname">
            <br />
            <label for="email">Enter Email:</label>
            <br />
            <input type="text" name="email">
            <br />
            <label for="username">Enter Username:</label>
            <br />
            <input type="text" name="username">
            <br />
            <label for="password">Enter Password:</label>
            <br />
            <input type="text" name="password">
            <br />
            <br />
            <a href="hub.html">Sign up!</a>
        </form>
    </body>
</html>